@use '../tools' as tools;

a {
  text-decoration: none;
  color: currentColor;
  @include tools.hocus() {
    color: currentColor;
  }

  button & {
    color: currentColor;
    font-size: 14px;
    letter-spacing: 1px;
    @include tools.hocus() {
      color: currentColor;
    }
  }
}
