@let puzzleMap = sudokuStore.puzzleMap();

@if(Object.values(puzzleMap).length > 0) {
  <table #table class="sudoku-grid">
      @for (rowIndex of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track rowIndex) {
        <tr id="{{rowIndex}}">
          @for (colIndex of [0, 1, 2, 3, 4, 5, 6, 7, 8]; track colIndex) {
            @let key = `${rowIndex}-${colIndex}`;
            @let cell = puzzleMap[key];
            <td [ngClass]="getBoxBorderClass(rowIndex, colIndex)" id="{{colIndex}}">
              @if (cell.isOriginalValue) {
                {{ cell.value }}
              } @else {
                <input
                  id="{{key}}"
                  class="input-cell"
                  autocomplete="off"
                  type="text"
                  [value]="cell.value || ''"
                  (input)="onCellChangeValue($event)"
                  (focus)="onCellFocusValue(rowIndex, colIndex, $event)"
                  (blur)="onCellBlurValue(rowIndex, colIndex, $event)"
                />
              }
            </td>
          }
        </tr>
      }
    </table>
}
